html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
a{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: "Microsoft YaHei","Heiti SC",simhei,"Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB",Verdana;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
}
a,a:link,a:visited,a:hover,a:active{
	text-decoration:none;
	color: #000;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
img{
	display: block;
}