.container{
    text-align: center;
}
h1,h2{
    text-align: center;
}
h3{
    display: inline;
}
h3:after{
    content: "   ";
}
marquee{
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
    height: 600px;
}