.op-btns{
    margin-bottom: 5px;
}
.search{
    display: inline-block;
    min-width: 300px;
    position: relative;
}
.search form{
    height: 32px;
}
.search input{
    left: 0;
    top: 0;
    height: 30px;
}
.search button{
    top: 0;
    width: 50px;
    height: 30px;
}
.search select{
    height: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: -5px;
}
#op_btns{
    margin-top: 5px;
}
#search_all_year select{
    margin-left: 0;
}
.op-btn{
    margin-top: 10px;
    margin-left: 10px;
}
.search button.all_btn:before{
    content: "全部计算";
    font-size: 14px;
    color: #fff;
}
.search button.all_btn{
    width: 100px;
    height: 30px;
    top:0;
    left: 0;
    transform: translate(70px,0);
}


button.calculate_rank:before{
    content: "排名计算";
    font-size: 14px;
    color: #fff;
}
button.calculate_rank{
    width: 100px;
    height: 30px;
    top: 0;
    left: 0;
    transform: translate(500px,0);
    margin-top: 10px;
}
.calculate_all_score{
    position: relative;
}
.table{
    min-height: 100px;
}
/*计算表*/
.calculate_all_score ul li:nth-child(1){
    width: 28%;
}
.calculate_all_score ul li:nth-child(2){
    width: 35%;
}
.calculate_all_score ul li:nth-child(3){
    width: 35%;
}
/*总体*/
.rank_all ul li:nth-child(1){
    width: 6%;
}
.rank_all ul li:nth-child(2){
    width: 12%;
}
.rank_all ul li:nth-child(3){
    width: 16%;
}
.rank_all ul li:nth-child(4){
    width: 16%;
}
.rank_all ul li:nth-child(5){
    width: 9%;
}
.rank_all ul li:nth-child(6){
    width: 10%;
}
.rank_all ul li:nth-child(7){
    width: 15%;
}
.rank_all ul li:nth-child(8){
    width: 15%;
}
/*类型*/
.rank_type ul li:nth-child(1){
    width: 10%;
}
.rank_type ul li:nth-child(2){
    width: 15%;
}
.rank_type ul li:nth-child(3){
    width: 20%;
}
.rank_type ul li:nth-child(4){
    width: 20%;
}
.rank_type ul li:nth-child(5){
    width: 14%;
}
.rank_type ul li:nth-child(6){
    width: 20%;
}
/*地区*/
.rank_area ul li:nth-child(1){
    width: 10%;
}
.rank_area ul li:nth-child(2){
    width: 15%;
}
.rank_area ul li:nth-child(3){
    width: 20%;
}
.rank_area ul li:nth-child(4){
    width: 20%;
}
.rank_area ul li:nth-child(5){
    width: 14%;
}
.rank_area ul li:nth-child(6){
    width: 20%;
}