.search{
    margin: 20px 0;
}
.search form{
    height: 32px;
}
.search input{
    left: 0;
    top: 0;
    height: 30px;
}
.search button{
    top: 0;
    width: 50px;
    height: 30px;
}
.button_style{
    text-align: center;
}
.container:nth-child(2) h1{
    margin-bottom: 20px;
}
.pop-up h2{
    margin-bottom: 10px;
}
.pop-up .table .red{
    color: red;
}
.pop-up .editor_li{
    list-style-type: none;
}
.pop-up .searcher_li_top{
    list-style-type: none;
}
.user_list ul li:nth-child(1){
    width: 6%;
}
.user_list ul li:nth-child(2){
    width: 16%;
}
.user_list ul li:nth-child(3){
    width: 17%;
}
.user_list ul li:nth-child(4){
    width: 20%;
}
.user_list ul li:nth-child(5){
    width: 20%;
}
.user_list ul li:nth-child(6){
    width: 20%;
}
.user_manage ul li:nth-child(1){
    width: 10%;
}
.user_manage ul li:nth-child(2){
    width: 25%;
}
.user_manage ul li:nth-child(3){
    width: 25%;
}
.user_manage ul li:nth-child(4){
    width: 39%;
}
.add_li{
    text-align: center;
}
.add_li li{
    list-style-type: decimal;
}
.op-btn{
    margin-left: 10px;
}
.add_li li{
    list-style-type: none;
}
