.op-btns{
    margin-top: 20px;
    margin-bottom: 5px;
}
.search{
    display: inline-block;
    min-width: 300px;
}
.search form{
    height: 32px;
}
.search input{
    left: 0;
    top: 0;
    height: 30px;
}
.search button{
    top: 0;
    width: 50px;
    height: 30px;
}
.search select{
    height: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: -5px;
}
.op-btn{
    margin-top: 10px;
    margin-left: 10px;
}
.application-table ul li:nth-child(even){
     width: 15%;
 }
.application-table ul li:nth-child(odd){
    width: 30%;
}
.application-table ul li:first-child{
    width: 9%;
}

.pop-up tr td{
    line-height: 15px;
}
.upload-table tr td:first-child{
    width: 40%;
}
.upload-table tr td:nth-child(2){
    width: 59%;
}


.upload .add-files{
    width: 100px;
    background: #fff;
    color: #000;
    margin: 20px auto;
}

.upload .upload-input{
    width: 90%;
    margin: 0 auto;
    background: #f1f2f3;
    padding: 30px;
}
.upload .upload-input .delete-input{
    margin: 0;
}
.file-table tr td:nth-child(1),
.file-table tr td:nth-child(2){
    background: transparent;
    text-align: center;
}
.file-table{
    width: 90%;
    margin: 30px auto;
}

.file-table tr td:first-child{
    width: 25%;
}
.file-table tr td:nth-child(n+2){
    width: 37%;
}
.file-table .head-item{
    background: #f1f2f3;
}

