h1{
    margin-bottom: 20px;
}

#oall .table ul li{
    width: 13%;
}
#oall .table ul li:first-child{
    width: 5%;
}
#oall .table ul li:nth-child(3){
    width: 10%;
}
#oall .table ul li:nth-child(4),#oall .table ul li:nth-child(5){
    width: 16%
}

#ofirst .table ul li{
    width: 11%;
}
#ofirst .table ul li:first-child{
    width: 5%;
}
#ofirst .table ul li:nth-child(n + 4){
    width: 18%;
}

#osecond .table ul li{
    width: 8%;
}
#osecond .table ul li:nth-last-child(n + 10){
    width: 9%;
}
#osecond .table ul li:first-child{
    width: 5%;
}
#osecond .table ul li:nth-child(n + 11){
    width: 10%;
}

#ftype .table ul li:nth-last-child(n + 5),
#flevel .table ul li:nth-last-child(n + 5){
    width: 12%;
}
#ftype .table ul li:first-child,
#flevel .table ul li:first-child{
    width: 6%;
}
#ftype .table ul li:nth-child(3),
#flevel .table ul li:nth-child(3){
    width: 9%;
}
#ftype .table ul li:nth-child(n + 5),
#flevel .table ul li:nth-child(n + 5){
    width: 15%;
}

#stype .table ul li,
#slevel .table ul li{
    width: 8%;
}
#stype .table ul li:nth-last-child(n + 10),
#slevel .table ul li:nth-last-child(n + 10){
    width: 7%;
}
#stype .table ul li:first-child,
#slevel .table ul li:first-child{
    width: 5%;
}
.op-btns{
    margin-bottom: 5px;
}
.search{
    display: inline-block;
    min-width: 300px;
    position: relative;
}
.search form{
    height: 32px;
}
.search input{
    left: 0;
    top: 0;
    height: 30px;
}
.search button{
    top: 0;
    width: 50px;
    height: 30px;
}
.search select{
    height: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: 0px;
}
.search button.dl_btn:before{
    content: "定量计算";
    font-size: 14px;
    color: #fff;
}
.search button.dl_btn{
    width: 100px;
    height: 30px;
    top:0;
    left: 0;
    transform: translate(70px,0);
}


button.calculate_rank:before{
    content: "排名计算";
    font-size: 14px;
    color: #fff;
}
button.calculate_rank{
    width: 100px;
    height: 30px;
    top: 0;
    left: 0;
    transform: translate(500px,0);
    margin-top: 10px;
}
.calculate_all_score{
    position: relative;
}
.table{
    min-height: 100px;
}
/*计算表*/
.calculate_all_score ul li:nth-child(1){
    width: 28%;
}
.calculate_all_score ul li:nth-child(2){
    width: 35%;
}
.calculate_all_score ul li:nth-child(3){
    width: 35%;
}
