#user_list{
    width: 700px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #bababa;
}
#user_table{
    width: 600px;
    height: auto;
    margin: 0 auto;
}
.table td{
    padding: 0 15px;
    line-height: 30px;
    vertical-align: top;
}
.table tr{
    height: 30px;
}
h1{text-align: center;}