<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 数据库连接配置-->
    <bean id="connect" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- 配置连接池属性-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/museum_assess"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>

    <!-- 配置SessionFactoryBean-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!-- 把数据源注入给session工厂 -->
        <property name="dataSource">
            <ref bean="connect"/>
        </property>
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <!-- 配置映射文件 -->
        <!--
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath:com/entity/*.hbm.xml</value>
            </list>
        </property>

        <property name="mappingResources">
            <list>
                <value>com/entity/DxassessEntity.hbm.xml</value>
                <value>com/entity/DlassessEntity.hbm.xml</value>
                <value>com/entity/Dxcriteria1Entity.hbm.xml</value>
                <value>com/entity/ExpertEntity.hbm.xml</value>
                <value>com/entity/MuseumEntity.hbm.xml</value>
                <value>com/entity/PriviledgeEntity.hbm.xml</value>
                <value>com/entity/RoleEntity.hbm.xml</value>
                <value>com/entity/TotalassessEntity.hbm.xml</value>
                <value>com/entity/UserEntity.hbm.xml</value>
                <value>com/entity/RpEntity.hbm.xml</value>
            </list>
        </property>
        -->
    </bean>

    <!-- 把Session工厂注入给hibernateTemplate -->
    <!-- 解释一下hibernateTemplate：hibernateTemplate提供了很多方便的方法，
    在执行时自动建立 HibernateCallback 对象，例如：load()、get()、save、delete()等方法。
     -->
    <bean id="hibernateTemplate"
          class="org.springframework.orm.hibernate4.HibernateTemplate">
        <constructor-arg>
            <ref bean="sessionFactory" />
        </constructor-arg>
    </bean>

    <!-- 把DAO注入给Session工厂 -->
    <bean id="userDAO" class="com.dao.impl.UserDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <!-- 把Service注入给DAO -->
    <bean id="userService" class="com.service.UserService">
        <property name="userDAO">
            <ref bean="userDAO" />
        </property>
    </bean>

    <!-- 把action注入给service-->
    <bean name="/user" class="com.action.UserAction">
        <property name="userService">
            <ref bean="userService" />
        </property>
    </bean>

    <!-- -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <!-- 组装配置Service beans-->
    <bean id="orderService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="target">
            <ref bean="userTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="find*">PROPAGATION_REQUIRED,readOnly,-OrderException</prop>
                <prop key="save*">PROPAGATION_REQUIRED,-OrderException,-OrderMinimumAmountException</prop>
            </props>
        </property>
    </bean>

    <!-- 把业务服务对象和数据存取对象组装起来 -->
    <bean id="userTarget" class="com.service.UserService">
        <property name="userDAO">
            <ref bean="userDAO"/>
        </property>
    </bean>


</beans>