.op-btns{
    margin-top: 20px;
    margin-bottom: 5px;
}
.search{
    display: inline-block;
    min-width: 300px;
    margin-left: 10px;
    position: relative;
}
.search form{
    height: 32px;
}
.search input{
    left: 0;
    top: 0;
    height: 30px;
}
.search button{
    top: 0;
    width: 50px;
    height: 30px;
}
.search select{
    height: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: -5px;
}
.search select.dxsel{
    -webkit-appearance: none;
    padding: 2px 20px;
    vertical-align: middle;
}
.op-btn{
    margin-top: 10px;
    margin-left: 10px;
}
.search button.dx_btn:before{
    content: "定性计算";
    font-size: 14px;
    color: #fff;
}
.search button.dx_btn{
    width: 100px;
    height: 30px;
    top:0;
    left: 0;
    transform: translate(65px,0);
}
button.calculate_rank:before{
    content: "排名计算";
    font-size: 14px;
    color: #fff;
}
button.calculate_rank{
    width: 100px;
    height: 30px;
    top: 0;
    left: 0;
    transform: translate(500px,0);
    margin-top: 10px;
}
.calculate_all_score{
    position: relative;
}
.table{
    min-height: 100px;
}
/*计算表*/
.calculate_all_score ul li:nth-child(1){
    width: 28%;
}
.calculate_all_score ul li:nth-child(2){
    width: 35%;
}
.calculate_all_score ul li:nth-child(3){
    width: 35%;
}

/*总体*/
.dx_all_rank ul li:nth-child(1){
    width: 6%;
}
.dx_all_rank ul li:nth-child(2){
    width: 10%;
}
.dx_all_rank ul li:nth-child(3){
    width: 10%;
}
.dx_all_rank ul li:nth-child(4){
    width: 18%;
}
.dx_all_rank ul li:nth-child(5){
     width: 17%;
 }
.dx_all_rank ul li:nth-child(6){
    width: 10%;
}
.dx_all_rank ul li:nth-child(7){
    width: 14%;
}
.dx_all_rank ul li:nth-child(8){
    width: 14%;
}
/*一级*/
.dx_one_rank ul li:nth-child(1){
    width: 6%;
}
.dx_one_rank ul li:nth-child(2){
    width: 15%;
}
.dx_one_rank ul li:nth-child(3){
    width: 9%;
}
.dx_one_rank ul li:nth-child(4){
    width: 9%;
}
.dx_one_rank ul li:nth-child(5){
    width: 8%;
}
.dx_one_rank ul li:nth-child(6){
    width: 18%;
}
.dx_one_rank ul li:nth-child(7){
    width: 16%;
}
.dx_one_rank ul li:nth-child(8){
    width: 18%;
}
/*二级*/
.dx_two_rank ul li:nth-child(1){
    width: 4%;
}
.dx_two_rank ul li:nth-child(2){
    width: 5%;
}
.dx_two_rank ul li:nth-child(3){
    width: 5%;
}
.dx_two_rank ul li:nth-child(4){
    width: 5%;
}
.dx_two_rank ul li:nth-child(5){
    width: 5%;
}
.dx_two_rank ul li:nth-child(6){
    width: 5%;
}
.dx_two_rank ul li:nth-child(7){
    width: 5%;
}
.dx_two_rank ul li:nth-child(8){
    width: 7%;
}
.dx_two_rank ul li:nth-child(9){
    width: 5%;
}
.dx_two_rank ul li:nth-child(10){
    width: 7%;
}
.dx_two_rank ul li:nth-child(11){
    width: 5%;
}
.dx_two_rank ul li:nth-child(12){
    width: 5%;
}
.dx_two_rank ul li:nth-child(13){
    width: 5%;
}
.dx_two_rank ul li:nth-child(14){
    width: 5%;
}
.dx_two_rank ul li:nth-child(15){
    width: 5%;
}
.dx_two_rank ul li:nth-child(16){
    width: 5%;
}
.dx_two_rank ul li:nth-child(17){
    width: 5%;
}
.dx_two_rank ul li:nth-child(18){
    width: 5%;
}
.dx_two_rank ul li:nth-child(19){
    width: 5%;
}
/*一级类型和级别*/
.dx1_one_rank ul li:nth-child(1){
    width: 4%;
}
.dx1_one_rank ul li:nth-child(2){
    width: 10%;
}
.dx1_one_rank ul li:nth-child(3){
    width: 8%;
}
.dx1_one_rank ul li:nth-child(4){
    width: 10%;
}
.dx1_one_rank ul li:nth-child(5){
    width: 8%;
}
.dx1_one_rank ul li:nth-child(6){
    width: 8%;
}
.dx1_one_rank ul li:nth-child(7){
    width: 15%;
}
.dx1_one_rank ul li:nth-child(8){
    width: 13%;
}
.dx1_one_rank ul li:nth-child(9){
    width: 17%;
}
/*二级类型和级别*/
.dx2_two_rank ul li:nth-child(1){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(2){
    width: 6%;
}
.dx2_two_rank ul li:nth-child(3){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(4){
    width: 8%;
}
.dx2_two_rank ul li:nth-child(5){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(6){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(7){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(8){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(9){
    width: 8%;
}
.dx2_two_rank ul li:nth-child(10){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(11){
    width: 9%;
}
.dx2_two_rank ul li:nth-child(12){
    width: 5%;
}
.dx2_two_rank ul li:nth-child(13){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(14){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(15){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(16){
    width: 5%;
}
.dx2_two_rank ul li:nth-child(17){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(18){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(19){
    width: 4%;
}
.dx2_two_rank ul li:nth-child(20){
    width: 4%;
}